/* APPS */
@import './apps/email/email.css';
@import './apps/keep/keep.css';

@import './cmps/app-header.cmp.css';
@import './cmps/navigator.cmp.css';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

button {
  cursor: pointer;
  outline: none;
}
