/* APPS */
@import './apps/email/email.css';
@import './apps/keep/keep.css';

@import './cmps/app-header.cmp.css';
@import './cmps/navigator.cmp.css';

* {
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}

/* TODO: prevent scrolling in ios */

html{
  overflow-y: hidden;
  height: 100vh;
}

body {
  margin: 0;
  font-family: sans-serif;
  overflow-y: hidden;
  position: relative;
  height: 100vh;
}

button {
  cursor: pointer;
  outline: none;
}


.router-view, .scrolable {
  overflow-y: scroll;
  height: calc(100vh - 150px);
  padding-bottom: 150px;
}


/* HELPERS */ 
.light {
  color: gray;
  font-weight: 200;
  font-size: 14px;
}



@media(max-width:670px) {
  .router-view, .scrolable {
    padding-bottom: 200px;
  }
}



