.email-filter {
  background-color: rgb(235, 175, 175);
}

.email-filter main {
  height: 70px;
  max-width: 1000px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
