.email-details {
    background-color: whitesmoke;
    padding: 20px 0;
    /* height: calc(100vh - 150px); */
    /* overflow-y: scroll !important; */
}

.email-details main {
    background-color: white;
    width: 80%;
    height: auto;
    padding: 30px;
    max-width: 700px;
    margin: 0 auto;
    border-radius: 2px;
    padding: 30px;
    /* min-height: calc(100vh - 150px); */
    box-shadow: 0 0 1px 0px #595757;
}

.email-details .body {
    max-width: 750px;
    margin-bottom: 30px;
    color: #3c3c3c;
}

.email-details .email-info {
    display: flex;
    justify-content: space-between;
}


.email-details .send-btn {
    background-color: #0084ff;
    color: white;
    border: none;
    font-size: 17px;
    padding: 10px;
    border-radius: 5px;
    width: 75px;
    font-weight: 200;
}

.email-details .contact {
    color: gray;
    font-weight: 200;
    font-size: 14px;
    margin: 8px 3px;
}

.email-details textarea {
    margin: 0px;
    width: 100%;
    height: 150px;
    outline: none;
    resize: none;
    border: none;
    font-size: 16px;
}


.email-details .replay-container {
    background-color: white;
    padding: 10px 20px;
    border-radius: 7px;
    width: 100%;
    box-shadow: 0 0 6px #d6d6d6;
    margin-top: 40px;
}



.replay-cmp {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 5px;
    color: #262626;
    box-shadow: 0 0 3px #cecece;
    padding: 10px;
    border-radius: 9px;
    
    transition: .7s;
}

.replay-cmp .top {
    width: 100%;
    margin: 1px 0;

    display: flex;
    justify-content: space-between;

    font-size: 15px;
    font-weight: 300;
    color: #6d6d6d;
}


.replay-cmp .replay-txt {
    overflow-x: auto;
    width: 85%;

}


@media(max-width:670px) {
    .email-details main {
        width: 92%;
        padding: 20px;
        height: auto;
    }
}

