.email-preview {
    cursor: pointer;
    border-bottom: 1px solid lightgray;
    height: 57px;
    padding: 15px;
    padding-right: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    transition: .7s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.email-preview .star-read-container {
    margin-right: 10px;
    width: 55px;
    display: inline-flex;
    justify-content: space-between;
}



.email-preview .name {
    font-size: 20px;
    width: 25%;
}


.email-preview .subject-body {
    width: 55%;
}

.email-preview .subject {
    font-size: 20px;
    font-weight: 500;
}
.email-preview .body {
    font-size: 15px;
}
.unread {
   background-color:#f3f3f3;
   box-shadow: 0px 0px 2px 0px #00000038;
}

.unread  .subject {
    font-weight: 600;
}



.email-preview .fas.fa-trash {
    margin-left:17px; 
    color:#9e9e9e;
}


.email-preview .fas.fa-trash:hover {
    color: red ;
  }



@media(max-width:670px) {
    .email-preview .name {
        font-size: 15px;
        width: 27%;
    }
    .email-preview .star-read-container {
        width: 40px;
    }

    .email-preview .subject-body {
        width: 40%;
    }

    .email-preview .subject {
        font-size: 15px;
    }
}