.email-preview {
    cursor: pointer;
    border-bottom: 1px solid lightgray;
    height: 57px;
    padding: 15px;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}

.email-preview .star-read-container {
    margin-right: 10px;
    width: 55px;
    display: inline-flex;
    justify-content: space-between;
}



.email-preview .name {
    font-size: 20px;
    width: 25%;
}


.email-preview .subject-body {
    width: 60%;
}

.email-preview .subject {
    font-size: 20px;
    font-weight: 500;
}
.email-preview .body {
    font-size: 15px;
}
.unread {
   background-color:#f3f3f3;
}

