

.navigator {
    z-index: 10;
    position: relative;
}

.navigator button{
    cursor: pointer;
    padding: 15px;
    font-size: 27px;
    background-color: transparent;
    border: none;
    outline: none;
}

.navigator .navigation-window{
    background-color: white;

    position: absolute;
    right: 0;
    width: 300px;
    height: 250px;
    padding: 10px;
    max-width: 90vw;

    box-shadow: 0 0 12px 0px #00000024;
    border-radius: 9px;

    /* width: 400px; */
    /* max-width: 80%; */
}

.navigator a {
    margin: 5px;
    color: black;
    font-size: 50px;
    text-decoration: none;
}

.navigator a.router-link-active {
    color: #0076f6;
}