@import './cmps/email-list.css';
@import './cmps/email-preview.css';
@import './cmps/email-filter.css';
@import './cmps/email-menu.css';
@import './cmps/email-composer.css';
@import './cmps/email-details.css';
.email-app{ 
    background-color: white;

    display: flex;    
}

.email-app main {
    flex-grow:3;
    overflow-y: scroll !important;
}

.email-app .email-menu {
    flex-grow:1;
    flex-grow: 1;
    min-width: 270px;
    max-width: 290px;
    border-right: 1px solid #efefef;
}

.email-app {
    height: calc(100vh - 70px);
}

.email-menu {
    background-color: white;
}


@media(max-width:670px) {
    .email-app {
        flex-direction: column;
    }
    .email-app .email-menu {
        max-width: 100%;
    }
    .email-app .email-menu main {
        display: flex;
        justify-content: space-between;
        width: 97%;
        margin: 0 auto;
    }
    .email-menu > * > * {
        padding-left: 0px !important;
    }
    .email-menu a {
        font-size: 15px;
    }
    .email-menu a .fas {
        margin-right: 13px;
        padding-left: 10px
    }
    .email-composer {
        flex-basis: 100%;
    }
    .email-composer button.compose-btn {
        font-size: 18px;
    }
    .email-composer button img {
        width: 20px;
    }
    .email-composer {
        margin: 5px 0;
        position: fixed;
        z-index: 10;
        bottom: 10px;
        right: 10px;
        background-color: white;
        border-radius: 29px;
    }
}


.email-filter {
    /* background-color: green; */
}

.email-list {
    /* background-color: red; */
}

