@import './cmps/email-list.css';
@import './cmps/email-preview.css';
@import './cmps/email-filter.css';
@import './cmps/email-menu.css';
@import './cmps/email-composer.css';
.email-app{ 
    background-color: white;

    display: flex;    
}

.email-app main {
    flex-grow:3;
}

.email-app .email-menu {
    flex-grow:1;
    flex-grow: 1;
    max-width: 250px;
    border-right: 1px solid #efefef;
}

.email-app {
    height: calc(100vh - 70px);
}

.email-menu {
    background-color: white;
}


.email-filter {
    /* background-color: green; */
}

.email-list {
    /* background-color: red; */
}