.done {
  text-decoration: line-through;
  text-decoration-color: red;
  color: #757575;
}

.todo-preview {
  margin-bottom: 4px;
  font-size: 21px;
  padding: 3px;
  /* border-radius: 3px; */
  border-bottom: 1px solid #cacaca;
}
