@import './cmps/add-note.css';
@import './cmps/note-preview.css';


/* COLOR PICKER */
.color-picker{
    position: relative;
}


  .color-picker:hover .fa-palette {
    color: black;
  }

  .color-picker:hover .dot-container{
    /* visibility: visible; */
    transform: scale(1);
  }
  .dot-container {
    /* visibility: hidden; */
    transform: scale(0);
    transition: .3s;
    text-align: center;
    position: absolute;
    bottom: 0px;
    width: 100px;
    left: 15px;
  }
 .dot {
    height: 17px;
    width: 17px;
    border-radius: 50%;
    display: inline-block;
  }
  
 .dot.picked {
    border: 2px solid black;
  }
  
 .dot:hover {
    border: 1px solid black;
  }
  
  .pink {
    background-color: pink;
  }
  .blue {
    background-color: blue;
  }
  .green {
    background-color: green;
  }
  .gray {
    background-color: lightgrey;
  }
  
  /* END COLOR PICKER */